<ion-view title-left view-title="BIZpay">
  <ion-content class="padding bg-img">
    <p class="text-center">Welcome to The BIZpaye International Group Of Companies</p>
    <div class="row">
      <!-- My BIZpaye trade -->
      <div class="col padding">
        <a class="button btn-radius button-positive card font-size" ng-click="tradeRoute();">
          <img class="vertical-center padding-bottom" src="../img/trade.png" width="100%" alt="">
        </a>
      </div>
      <!-- My BIZpaye Account -->
      <div class="col padding">
        <a class="button btn-color-account btn-radius card font-size" ng-click="accountRoute();">
          <img class="vertical-center padding-bottom" src="../img/account.png" width="100%" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col padding">
        <a class="button btn-radius button-calm card font-size" ui-sref="app.shop">
          <!-- My BIZpaye shop -->
          <img class="vertical-center padding-bottom" src="../img/shop.png" width="100%" alt="">
        </a>
      </div>
      <div class="col padding">
        <a class="button btn-radius button-balanced card font-size" ui-sref="app.property">
          <!-- My BIZpaye property -->
          <img class="vertical-center padding-bottom" src="../img/property.png" width="100%" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col padding">
        <a class="button btn-radius btn-color-corperate card font-size" ui-sref="app.corperate">
          <!-- My BIZpaye corperate -->
          <img class="vertical-center padding-bottom" src="../img/corperate.png" width="100%" alt="">
        </a>
      </div>
      <div class="col padding">
        <a class="button btn-radius button-assertive card font-size" ui-sref="app.radio">
          <!-- My BIZpaye radio -->
          <img class="vertical-center padding-bottom" src="../img/radio.png" width="100%" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col padding">
        <a class="button btn-radius btn-color-rewards card font-size" ui-sref="app.rewards">
          <!-- My BIZpaye trade -->
          <img class="vertical-center padding-bottom" src="../img/rewards.png" width="100%" alt="">
        </a>
      </div>
      <div class="col padding">
        <a class="button btn-radius button-royal card font-size" ui-sref="app.franchise">
          <!-- My BIZpaye Account -->
          <img class="vertical-center padding-bottom" src="../img/franchise.png" width="100%" alt="">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
