<ion-view title-left view-title="BIZpay">
  <ion-content class="padding bg-img">
    <p class="text-center">
      Welcome to The BIZpaye International Group Of Companies
    </p>
    <div class="row">
      <!-- My BIZpaye trade -->
      <div class="col padding">
        <a class="button btn-radius button-positive card font-size" ng-click="tradeRoute();">
          <img class="vertical-center padding-bottom" src="img/trade.png" width="100%" alt="">
        </a>
      </div>
      <!-- My BIZpaye Account -->
      <div class="col padding">
        <a class="button btn-color-account btn-radius card font-size" ng-click="accountRoute();">
          <img class="vertical-center padding-bottom" src="img/account.png" width="100%" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <!-- My BIZpaye shop -->
      <div class="col padding">
        <a class="button btn-radius button-calm card font-size" ng-click="shopRoute();">

          <img class="vertical-center padding-bottom" src="img/shop.png" width="100%" alt="" />
        </a>
      </div>
      <!-- My BIZpaye property -->
      <div class="col padding">
        <a class="button btn-radius button-balanced card font-size" ng-click="propertyRoute();">

          <img class="vertical-center padding-bottom" src="img/property.png" width="100%" alt="" />
        </a>
      </div>
    </div>
    <div class="row">
      <!-- My BIZpaye corperate -->
      <div class="col padding">
        <a class="button btn-radius btn-color-corperate card font-size" ng-click="corperateRoute();">

          <img class="vertical-center padding-bottom" src="img/corperate.png" width="100%" alt="" />
        </a>
      </div>
      <!-- My BIZpaye radio -->
      <div class="col padding">
        <a class="button btn-radius button-assertive card font-size" ng-click="radioRoute();">

          <img class="vertical-center padding-bottom" src="img/radio.png" width="100%" alt="" />
        </a>
      </div>
    </div>
    <div class="row">
      <!-- My BIZpaye rewards -->
      <div class="col padding">
        <a class="button btn-radius btn-color-rewards card font-size" ng-click="rewardRoute();">

          <img class="vertical-center padding-bottom" src="img/rewards.png" width="100%" alt="" />
        </a>
      </div>
      <!-- My BIZpaye franchise -->
      <div class="col padding">
        <a class="button btn-radius button-royal card font-size" ng-click="franchiseRoute();">

          <img class="vertical-center padding-bottom" src="img/franchise.png" width="100%" alt="" />
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
