<ion-view title-left view-title="BIZpay">
  <ion-content class="padding">
    <p class="text-center">Welcome to The BIZpaye International Group Of Companies</p>
    <div class="row">
      <!-- My BIZpaye trade -->
      <div class="col padding">
        <div class="button btn-radius button-positive card font-size">
          <img class="vertical-center padding-bottom" src="../img/trade.png" width="100%" alt="">
        </div>
      </div>
      <!-- My BIZpaye Account -->
      <div class="col padding">
        <button class="button btn-radius card font-size">
          <img class="vertical-center padding-bottom" src="../img/account.png" width="100%" alt="">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col padding">
        <div class="button btn-radius button-calm card font-size">
          <!-- My BIZpaye shop -->
          <img class="vertical-center padding-bottom" src="../img/shop.png" width="100%" alt="">
        </div>
      </div>
      <div class="col padding">
        <button class="button btn-radius button-balanced card font-size">
          <!-- My BIZpaye property -->
          <img class="vertical-center padding-bottom" src="../img/property.png" width="100%" alt="">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col padding">
        <div class="button btn-radius button-dark card font-size">
          <!-- My BIZpaye corperate -->
          <img class="vertical-center padding-bottom" src="../img/corperate.png" width="100%" alt="">
        </div>
      </div>
      <div class="col padding">
        <button class="button btn-radius button-assertive card font-size">
          <!-- My BIZpaye radio -->
          <img class="vertical-center padding-bottom" src="../img/radio.png" width="100%" alt="">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col padding">
        <div class="button btn-radius button-dark card font-size">
          <!-- My BIZpaye trade -->
          <img class="vertical-center padding-bottom" src="../img/rewards.png" width="100%" alt="">
        </div>
      </div>
      <div class="col padding">
        <button class="button btn-radius button-royal card font-size">
          <!-- My BIZpaye Account -->
          <img class="vertical-center padding-bottom" src="../img/franchise.png" width="100%" alt="">
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
