.title-col {
  background-image: linear-gradient(to bottom right, #3f62ae, #e26506);
  /* Standard syntax (must be last) */
}

.font-size {
  font-size: 20px !important;
}

.btn-radius {
  border-radius: 0;
}

.vertical-center {
  vertical-align: text-top;
}

.btn-color-account {
  background-color: #e26506;

  &:active,
  &.activated {
    background-color: #ba5305;

  }
}

.btn-color-rewards {
  background-color: #83792a;

  &:active,
  &.activated {
    background-color: #675f21;

  }
}

.btn-color-corperate {
  background-color: gray;

  &:active,
  &.activated {
    background-color: #676666;

  }
}

.back-trans.bar-header {
  background: transparent;
}

.txt-white {
  color: white;
}
