.title-col {
  background-image: linear-gradient(to bottom right, #3f62ae, red);
  /* Standard syntax (must be last) */
}

.font-size {
  font-size: 14px;
}

.btn-radius {
  border-radius: 0;
}

.vertical-center {
  vertical-align: text-top;
}
